@model PizzaBox.Domain.Models.PizzaMenu


<p>Lets create a pizza</p>

<form action="/pizza/createcustompizza" method="post">
  <label>Crust:</label><br>
  @foreach (var item in Model.CrustsOnMenu)
  {
    <input type="radio" name="crust" value="@item.Id"> @item.Name;
  }
  <br>
  <div></div>
  <label>Size:</label><br>
  @foreach (var item in Model.SizesOnMenu)
  {
    <input type="radio" name="size" value="@item.Id"> @item.Name
  }
  <br>
  <div></div>
  <label>Toppings:</label><br>
  @foreach (var item in Model.ToppingsOnMenu)
  {
    <input type="checkbox" name="topping" value="@item.Id"> @item.Name
  }
  <br>
  <button type ="submit">Create Pizza</button>
</form>