@model PizzaBox.Domain.Models.PizzaMenu

<form action="/pizza/createcustompizza" method="post">
  <label>Customize your pizza</label>
  <label>Crust:</label><br>
  @foreach (var item in Model.CrustsOnMenu)
  {
    <input type="radio" name="crust" value="@item.Id"> @item.Name;
  }
  <br>
  <div></div>
  <label>Size:</label><br>
  @foreach (var item in Model.SizesOnMenu)
  {
    <input type="radio" name="size" value="@item.Id"> @item.Name
  }
  <br>
  <div></div>
  <p>Toppings on Pizza: Cheese, Marinara Sauce, Sausage, Pepperoni</p>
  <p>and Green Peppers</p>
  <input type="hidden" name="topping" value=1>
  <input type="hidden" name="topping" value=2>
  <input type="hidden" name="topping" value=3>
  <input type="hidden" name="topping" value=4>
  <input type="hidden" name="topping" value=5>
  <input type="checkbox" name="orderisdone" value="true">Done ordering all your Pizza<br>
  <input type="hidden" name="uId" value="@Model.UserBrowsingTheMenu.Id">
  <button>Order Pizza</button>
</form>